<% include ./partials/header %>

<div class="page-header clear-filter" filter-color="orange">
    <div class="page-header-image" style="background-image:url(https://bit.ly/2KrkPQ5)"></div>
    <div class="content">
      <div class="container">
            <div class="row movie-row">
                <% if(results["Search"] == null) { %>
                    <p style="margin: 0 auto;">No results for your search.</p>
                <% } else { %>
                    <div class="container" style="margin: 0 auto;">These are your results: </div>
                    <% results["Search"].forEach(function(movie) { %>
                        <div class="movie col-md-2 card card-lift--hover shadow border-0">
                            <div class="thumbnail">
                                <a href="https://www.imdb.com/title/<%= movie["imdbID"] %>"><img src="<%= movie["Poster"] %>"></a>
                                <div class="caption">
                                    <strong>
                                    <%= movie["Title"] %>
                                    </strong> -
                                    <em>
                                        <%= movie["Year"] %>
                                    </em>
                                </div>
                            </div>
                        </div>
                   <% }) %>
                <% } %>   
            </div>
            <a href="/"><button id="search-again-btn" class="btn btn-primary btn-round btn-lg btn-block">Search Again!</button></a>
    </div>
</div>
</div>

<% include ./partials/footer %>